.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.card-img-left {
  border-bottom-left-radius: calc(.25rem - 1px);
  border-top-left-radius: calc(.25rem - 1px);
  float: left;
  padding-right: 1em;
  margin-bottom: -1.25em;
}

.characters {
  padding: 6px;
}

label {
  margin: 6px;
}

.app {
  height: 100%;       /* 1 */
}

.img-wrap {
  height: 100%;
}
.img {
  margin: auto;
  width: 250;
  height: 250px;
  object-fit: contain;
}

.active {
  background: #ffa98f !important;
  color: #ffffff !important;
}

.hide {
  display: none;
}