<!doctype html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <title>Utapri Search</title>
    <meta name="description" content="${description}" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <script src='node_modules/vue/dist/vue.js'></script>
  </head>
  <body>
    <div id="app">
      <div>
        <div class="row justify-content-md-center mt-md-3">
          <h1 class="display-4">うたプリサーチ</h1>
        </div>
      </div>
      <div class="row justify-content-md-center mt-md-3">
        <div class="btn-group btn-group-toggle">
          <label class="btn btn-secondary" for="一十木音也"><input type="checkbox" id="一十木音也" value="一十木音也" v-model="checkedNames">一十木音也</label>
          <label class="btn btn-secondary" for="聖川真斗"><input type="checkbox" id="聖川真斗" value="聖川真斗" v-model="checkedNames">聖川真斗</label>
          <label class="btn btn-secondary" for="四ノ宮那月"><input type="checkbox" id="四ノ宮那月" value="四ノ宮那月" v-model="checkedNames">四ノ宮那月</label>
          <label class="btn btn-secondary" for="一ノ瀬トキヤ"><input type="checkbox" id="一ノ瀬トキヤ" value="一ノ瀬トキヤ" v-model="checkedNames">一ノ瀬トキヤ</label>
          <label class="btn btn-secondary" for="神宮寺レン"><input type="checkbox" id="神宮寺レン" value="神宮寺レン" v-model="checkedNames">神宮寺レン</label>
          <label class="btn btn-secondary" for="来栖翔"><input type="checkbox" id="来栖翔" value="来栖翔" v-model="checkedNames">来栖翔</label>
          <label class="btn btn-secondary" for="愛島セシル"><input type="checkbox" id="愛島セシル" value="愛島セシル" v-model="checkedNames">愛島セシル</label>
        </div>
      </div>
      <div class="row justify-content-md-center mt-md-3">
        <div class="btn-group btn-group-toggle">
          <label class="btn btn-secondary" for="寿嶺二"><input type="checkbox" id="寿嶺二" value="寿嶺二" v-model="checkedNames">寿嶺二</label>
          <label class="btn btn-secondary" for="黒崎蘭丸"><input type="checkbox" id="黒崎蘭丸" value="黒崎蘭丸" v-model="checkedNames">黒崎蘭丸</label>
          <label class="btn btn-secondary" for="美風藍"><input type="checkbox" id="美風藍" value="美風藍" v-model="checkedNames">美風藍</label>
          <label class="btn btn-secondary" for="カミュ"><input type="checkbox" id="カミュ" value="カミュ" v-model="checkedNames">カミュ</label>
        </div>
      </div>
      <div class="row justify-content-md-center mt-md-3">
        <div class="btn-group btn-group-toggle">
          <label class="btn btn-secondary" for="鳳瑛一"><input type="checkbox" id="鳳瑛一" value="鳳瑛一" v-model="checkedNames">鳳瑛一</label>
          <label class="btn btn-secondary" for="皇綺羅"><input type="checkbox" id="皇綺羅" value="皇綺羅" v-model="checkedNames">皇綺羅</label>
          <label class="btn btn-secondary" for="帝ナギ"><input type="checkbox" id="帝ナギ" value="帝ナギ" v-model="checkedNames">帝ナギ</label>
          <label class="btn btn-secondary" for="鳳瑛二"><input type="checkbox" id="鳳瑛二" value="鳳瑛二" v-model="checkedNames">鳳瑛二</label>
          <label class="btn btn-secondary" for="桐生院ヴァン"><input type="checkbox" id="桐生院ヴァン" value="桐生院ヴァン" v-model="checkedNames">桐生院ヴァン</label>
          <label class="btn btn-secondary" for="日向大和"><input type="checkbox" id="日向大和" value="日向大和" v-model="checkedNames">日向大和</label>
          <label class="btn btn-secondary" for="天草シオン"><input type="checkbox" id="天草シオン" value="天草シオン" v-model="checkedNames">天草シオン</label>
        </div>
      </div>
      <div class="row justify-content-md-center mt-md-3">
        <button v-on:click="resetFilter()" type="button" class="btn btn-lg">リセット</button>
        <button v-on:click="filterSongs()" type="button" class="btn btn-primary btn-lg">闇に光を</button>
      </div>
      <div class="card mt-md-3">
        <div class="card-body">
          <span v-for="name in checkedNames">{{ name }} </span>
        </div>
      </div>
      <ul><li v-for="song in songs">{{ song.title }}</li></ul>
    </div>
    <script src='index.js'></script>
  </body>
</html>