!!!
%html{:lang => "ja"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}/
    %title Utapri search
    %script{:crossorigin => "anonymous", :integrity => "sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=", :src => "https://code.jquery.com/jquery-3.2.1.min.js"}
    %script{:src => "index.js"}
    %link{:href => "index.css", :rel => "stylesheet"}/
    %meta{:content => "website", :property => "og:type"}/
    %meta{:content => "risacan.github.io", :property => "og:title"}/
    %meta{:content => "http://risacan.github.io/index.html", :property => "og:url"}/
    %meta{:content => "risacan.github.io", :property => "og:site_name"}/
    %meta{:content => "summary", :name => "twitter:card"}/
    %meta{:content => "risacan.github.io", :name => "twitter:title"}/
    %meta{:content => "@_risacan_", :name => "twitter:creator"}/
  %body.courier
    %footer
      .tc.pb3
        %a{:href => "https://twitter.com/_risacan_"} @risacan
